:root{
--verde-claro: #a3c1ad;
--verde-oscuro: #4a6b52;
--marron: #8c6239;
--blanco: #f4f3ef;
--negro: #000000 ;
--fuente: "open sans", sans-serif;
}

* { box-sizing: border-box;
   margin: 0; padding:0; }

body {
    background-color:#a3c1ad;
    font-family: var(--fuente);
    font-size: 20px;
    color: var(--negro);
    max-width: 2100px;
    margin: 0 auto;
    padding: 0 1rem;
}

.mi-nav-personalizada{
    background-color: var(--verde-oscuro) !important;
}

header {
    background-color: var(--verde-oscuro);
    color: #f4f3ef;
    padding: 1rem;
}

nav ul{
    display: flex;
    gap: 1.5rem;
    list-style: none;
    margin-top: 0.5rem;
}

.mi-nav-personalizada .navbar-nav .nav-link {
    color: var(--verde-claro) !important;
}

.mi-nav-personalizada .navbar-nav .nav-link:hover {
  color:#f9faf7 !important;
}

.card{
    
    border: 2px solid;
    padding: 1rem;
    border-color:var(--marron) ;
    border-radius: 10px;
}
footer {
     background-color: var(--verde-oscuro);
    color: #f4f3ef;
    padding: 1rem;
}

footer p {
color:#a3c1ad
}

footer small {
    color:#a3c1ad
}

footer a {
    color: var(--verde-claro);
    text-decoration: none;
    font-weight: 600;
}
footer a:hover {
    color:#f9faf7
}

img {
    max-width: 100%;
    height: auto;
}

.btn-mi-ong {
    background-color:#4a6b52;
    color:#a3c1ad;
    border-color:var(--marron);
}
